@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 700;  
  src: url( './fonts/Plex/Sans/IBMPlexSans-Bold.woff2' ) format( 'woff2' );
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 600;  
  src: url( './fonts/Plex/Sans/IBMPlexSans-SemiBold.woff2' ) format( 'woff2' );
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 500;  
  src: url( './fonts/Plex/Sans/IBMPlexSans-Medium.woff2' ) format( 'woff2' );
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;  
  src: url( './fonts/Plex/Sans/IBMPlexSans-Regular.woff2' ) format( 'woff2' );
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: 400;  
  src: url( './fonts/Plex/Mono/IBMPlexMono-Regular.woff2' ) format( 'woff2' );
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url( './fonts/Symbols/material-symbols-outlined.woff2' ) format( 'woff2' );
}

/* Breadcrumb */

gr-breadcrumb-item::after {
  display: inline-block;
  color: #161616;
  content: '/';
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 8px 0 4px;
  padding: 0;
}

gr-breadcrumb[size=sm] gr-breadcrumb-item::part( anchor ), 
gr-breadcrumb[size=sm] gr-breadcrumb-item::part( label ), 
gr-breadcrumb[size=sm] gr-breadcrumb-item::after {
  font-size: 12px;
  line-height: 16px;
}

gr-breadcrumb[size=sm] gr-breadcrumb-item::after {
  margin: 0 4px 0 0;
}

gr-breadcrumb[no-trailing-slash] gr-breadcrumb-item:last-of-type::after {
  content: '';
}

/* Content Switcher */

gr-content-switcher gr-icon-switch,
gr-content-switcher gr-switch {
  border-right: solid 1px #e8e8e8;
}

gr-content-switcher gr-icon-switch:last-of-type,
gr-content-switcher gr-switch:last-of-type {
  border-right: none;
}

gr-content-switcher gr-icon-switch gr-icon::part( font ) {
  color: #525252;
  cursor: pointer;
}

gr-content-switcher gr-icon-switch[selected] gr-icon::part( font ) {
  color: #f4f4f4;
}

gr-content-switcher gr-icon-switch[disabled][selected] gr-icon::part( font ) {
  color: #16161640;
}

gr-content-switcher gr-icon-switch[disabled] gr-icon::part( font ) {
  color: #c8c8c8;
  cursor: not-allowed;
}

gr-content-switcher[light] gr-icon-switch gr-icon::part( font ) {
  color: #f4f4f4;
  cursor: pointer;
}

gr-content-switcher[light] gr-icon-switch[selected] gr-icon::part( font ) {
  color: #161616;
}

gr-content-switcher[light] gr-icon-switch[disabled] gr-icon::part( font ) {
  color: #525252;
  cursor: not-allowed;
}

/* Form Field */

gr-form-field gr-label::part( text ) {
  font-size: 12px;
  line-height: 16px;
}

gr-form-field gr-link::part( label ) {
  font-size: 12px;
  line-height: 16px;
}

/* Header */

gr-header gr-label::part( label ) {
  color: #f4f4f4;
}

gr-header gr-label:not( [slot] )::part( label ) {
  font-weight: 700;
  margin: 0 0 0 6px;
}

/* Link */

gr-link gr-icon::part( font ) {
  color: #0f62fe;
  cursor: pointer;
}

/* Select */

gr-select gr-label[slot=after],
gr-select gr-link[slot=after] {
  padding: 4px 0 0 0;
}

gr-select gr-label[slot=before],
gr-select gr-link[slot=before] {
  padding: 0 0 4px 0;
}

gr-select gr-label::part( text ) {
  color: #525252;
}

gr-select gr-label::part( text ),
gr-select gr-link::part( label ),
gr-select gr-link::part( text ) {
  font-size: 12px;
  line-height: 16px;
}

gr-select[disabled] gr-label::part( text ) {
  color: #16161640;
}

/* Text area */

gr-textarea gr-label::part( text ) {
  color: #525252;
}

gr-textarea gr-label::part( text ),
gr-textarea gr-link::part( label ),
gr-textarea gr-link::part( text ) {
  font-size: 12px;
  line-height: 16px;
}

gr-textarea[disabled] gr-label::part( text ) {
  color: #16161640;
}

/* Text Input */

gr-text-input gr-label[slot=after],
gr-text-input gr-link[slot=after] {
  padding: 4px 0 0 0;
}

gr-text-input gr-label[slot=before],
gr-text-input gr-link[slot=before] {
  padding: 0 0 4px 0;
}

gr-text-input gr-label::part( text ) {
  color: #525252;
}

gr-text-input gr-label::part( text ),
gr-text-input gr-link::part( label ),
gr-text-input gr-link::part( text ) {
  font-size: 12px;
  line-height: 16px;
}

gr-text-input[disabled] gr-label::part( text ) {
  color: #16161640;
}

/*
gr-avatar gr-icon::part( font ) {
  cursor: pointer;
  font-variation-settings: 
    "FILL" 1,
    "wght" 200;  
  pointer-events: none;  
}

gr-avatar[src] gr-icon {
  display: none;
}

gr-avatar[read-only] gr-icon::part( font ) {
  color: #a8a8a8;
}

gr-avatar[disabled] gr-icon::part( font ) {
  color: #c6c6c6;
}

gr-button gr-icon::part( font ) {
  color: #ffffff;
  cursor: pointer;
  font-variation-settings: 'wght' 200;
}

gr-button[disabled] gr-icon::part( font ) {
  color: #8d8d8d;
  cursor: not-allowed;
}

gr-button[kind=ghost] gr-icon::part( font ) {
  color: #0f62fe;     
  padding: 0 0 0 15px;
}

gr-drawer-item gr-icon {
  padding: 0 0 0 16px;
}

gr-drawer-item gr-icon::part( font ) {
  color: #f4f4f4;
  font-size: 20px;
}

gr-form-field gr-link::part( label ),
gr-form-field gr-label::part( label ),
gr-form-field gr-relative-time::part( label ) {
  font-size: 12px;
}

gr-form-field gr-label::part( label ),
gr-form-field gr-relative-time::part( label ) {
  color: #6f6f6f;
}

gr-list gr-label::part( label ) {
  color: #525252;
}

gr-tag gr-icon {
  max-width: 18px;
  margin: 0 0 0 -2px;
}

gr-tag gr-icon::part( font ) {
  color: #161616;
  font-size: 18px;
  font-variation-settings: "wght" 200;  
  height: 18px;
  line-height: 18px;
  max-height: 18px;
  max-width: 18px;
  min-height: 18px;
  min-width: 18px;
  margin: 0 2px 0 0;
  width: 18px;
}

gr-tag[type=red] gr-icon::part( font ) { color: #750e13; }
gr-tag[type=magenta] gr-icon::part( font ) { color: #740937; }
gr-tag[type=purple] gr-icon::part( font ) { color: #491d8b; }
gr-tag[type=blue] gr-icon::part( font ) { color: #002d9c; }
gr-tag[type=cyan] gr-icon::part( font ) { color: #003a6d; }
gr-tag[type=teal] gr-icon::part( font ) { color: #004144; }
gr-tag[type=green] gr-icon::part( font ) { color: #044317; }
gr-tag[type=cool-gray] gr-icon::part( font ) { color: #343a3f; }
gr-tag[type=warm-gray] gr-icon::part( font ) { color: #3c3838; }
gr-tag[type=high-contrast] gr-icon::part( font ) { color: #ffffff; }
gr-tag[disabled] gr-icon::part( font ) { color: #c6c6c6; }
*/
